@model IEnumerable<GearUp.Models.Make>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.models)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDeleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.models)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isDeleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}



    
   


</table>


                      @*<div id="results-body"></div>
                      <script>
		window.sdkAsyncInit = function() {
			// Instantiate the SDK
		    var res = new EDMUNDSAPI('wvtbef2kf7nughwuf3wzd4gb');
			// Optional parameters
			var options = {};
			// Callback function to be called when the API response is returned
			function success(res) {
				var body = document.getElementById('results-body');
				body.innerHTML = "The first make in the response is " +
				res.makes[0].name;
			}
			// Oops, Houston we have a problem!
			function fail(data) {
				console.log(data);
			}
			// Fire the API call
			res.api('/api/vehicle/v2/makes', options, success, fail);
			// Additional initialization code such as
			// adding Event Listeners goes here
		};
	// Load the SDK asynchronously
	(function(d, s, id){
		var js, sdkjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "/Scripts/edmunds.api.sdk.js";
		sdkjs.parentNode.insertBefore(js, sdkjs);
	}(document, 'script', 'edmunds-jssdk'));
                      </script>*@
